@import './variables.styl';

*
  margin 0
  padding 0
  box-sizing inherit

html
  box-sizing border-box

body
  font-family 'Roboto' sans-serif
  color #333
  background linear-gradient(to top left, gradient1, gradient2)
  position relative
  #app
    display flex
    min-height 100svh
    flex-direction column
    align-items ceter
    row-gap 3rem
    @media screen and (min-width sm)
      flex-direction row
      justify-content center
      align-items start

.hidden
  display none

